
div.img {
    display: table;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    height:100%;
    width:100%;
    background-size:100%;
    background-position: center;
}

div.img:hover {
    border: 1px solid #777;
    background-size: 110%;
    transition: 0.4s ease;
}

div.inner-shit{
    display: table-cell;
    vertical-align: middle;
    opacity: 0;
    overflow: hidden;
    text-align: center;
    font-size: xx-large;
    height: 100%;
    width: 100%;
}

div.inner-shit:hover{
    opacity: 100;
    background-color: rgba(240, 255, 249, 0.81);
}

div.desc {
    position: relative;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    width: 100%;
}

div.inner-shit > a{
    color:black;
}

div.inner-shit > a:hover{
    color: mediumblue;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    display: inline-block;
    width: 300px;
    height: 300px;
}

@media only screen and (max-width: 820px){
    .responsive {
        width: 300px;
        height: 300px;
        margin-bottom: 60px;
    }
}

@media only screen and (min-width: 820px) and (max-width: 1015px){
    .responsive {
        width: 200px;
        height: 200px;
        margin: 6px 0;
    }
    div.inner-shit{
        font-size:medium;
    }
}

@media only screen and (min-width: 1015px) and (max-width: 1212px){
    .responsive {
        width: 250px;
        height: 250px;
    }
}

@media only screen and (min-width: 1212px){
    .responsive {
        width: 300px;
        height: 300px;
    }
}
